<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/favicon1.ico" >
    <title>Admin</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
   
    {% endif %}
    {% endwith %}
</head>

<body>
    Admin
    <br>
    <br>
    <br>
    <a href="/user_deats">List user details</a>
    <br>
    <a href="/cust_deats">List customer details</a>
    <br>
    <a href="/todays_trans">List all the transactions that took place today</a>
    <br>
    <a href="/prod_supp_tod">List of products supplied today</a>
    <br>
    <a href="/supp_deats">List the supplier details</a>
    <br>
    <a href="/search_prod_supp_deats">Search for supplier of a particular product</a>
    <br>
    <a href="/del_prod">Delete a particular product from database</a>
    <br>
    <a href="/prod_req">Report of products required</a>
    <br>
    <a href="/prod_30_exp">Report of products expiring within a month</a>
    <br>
    <a href="/edit_prod_deats">Edit product details</a>
    <br>
    <a href="/search_prod_deats">Search for the details of a particular product from inventory</a>
    <br>
    <a href="/list_prods">List all the products</a>
    <br>
    <a href="/add_prods">Add products to the inventory</a>
    <br>
    <a href="/apply_rem_disc">Apply or remove discount from a product</a>
    <br>
    <a href="/cust_auth">Calculate and print the bill</a>
    <br>
    <br>

    
    <a href="/logout">Logout</a>
</body>

</html>