<!DOCTYPE html>
<html lang="en">

<head>
    <title>Discounts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container">
        <div class=" row justify-content-center">
            <div class="col-sm-8">
                <h2>Apply discounts</h2>
                <form action="/apply_rem_disc" method="POST">
                    <div class="form-group">
                        <label for="bar_code">Product bar code:</label>
                        <input type="number" class="form-control" id="bar_code" placeholder="Enter product bar code" name="bar_code" required>
                        
                        <label for="disc">Discount percent:</label>
                        <input type="number" class="form-control" id="disc" placeholder="Enter product discount" name="disc" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Apply discount</button>
                </form>
            </div>
        </div>
    </div>
    <div>
        {{data}}
        {{data2}}
    </div>
    {% include 'go_to_main.html' %}
</body>

</html>