<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data op</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</head>

<body>
    Data op
    <a href="/prod_supp_tod">List of products supplied today</a>
    <a href="/supp_deats">List the supplier details</a>
    <a href="/search_prod_supp_deats">Search for supplier of a particular product</a>
    <a href="/del_prod">Delete a particular product from database</a>
    <a href="/prod_req">Report of products required</a>
    <a href="/prod_30_exp">Report of products expiring within a month</a>
    <a href="/edit_prod_deats">Edit product details</a>
    <a href="/search_prod_deats">Search for the details of a particular product from inventory</a>
    <a href="/list_prods">List all the products</a>
    <a href="/add_prods">Add products to the inventory</a>
    <a href="/apply_rem_disc">Apply or remove discount from a product</a>
    <a href="/bill">Calculate and print the bill</a>
    
    
    <a href="/logout">Logout</a>
</body>

</html>