<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products supplied today</title>
</head>

<body>
    <h1>Products supplied today</h1>
    <!--table>
        <tr>
            <th>SL. No.</th>
            <th>Product Name</th>
            <th>Barcode</th>
            <th>MRP</th>
            <th>Selling Price</th>
            <th>Quantity</th>
            <th>Expiry date</th>
        </tr>
        {% for user in data %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
            <td>{{ user[6] }}</td>
        </tr>
        {% endfor %}
    </table -->
    {{data}}<br>
    {% include 'go_to_main.html' %}
</body>

</html>