<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products expiring soon</title>
</head>

<body>
    <h1>List of products expiring soon</h1>
    <table>
        
        <tr>
            {% for col  in col_heading %}
            <td>{{ col }}</td>
            {% endfor %}
        </tr>
        
        {% for entry in data %}
        {% set i=1%}
        <tr>
            <td>{{ i }}</td>
            <td>{{ entry[1] }}</td>
            <td>{{ entry[2] }}</td>
            <td>{{ entry[5] }}</td>
            <td>{{ entry[6] }}</td>
            {% set i = i+1%}
        </tr>
        {% endfor %}
    </table>

    {% include 'go_to_main.html' %}
</body>

</html>